{% extends "templateFormulario.html" %}

	{% block cabecera %}
	<title>Login</title>
	{% endblock %}

	{% block asideBar %}
	{% endblock %}


	{% block formulario %}

		{% if success == 1 %}
			<div class ="notificacion">
				<h4>Ya estás registrado</h4>
				<p><a href="index.php">Home</a></p>
			</div>
		{% elseif success == -1 %}
			<div class="notificacion">
				<h4>Ha ocurrido un error</h4>
				<a href="login.php">Volver a intentarlo</a>
            	<a href="index.php">Volver a Home</a> 
			</div>
		{% else %}
		<div class="loginSection">
		   <div class="button-box">
		   		<div id="btn"></div>
		   		<button type="button" class="toggle-btn" onclick="login()">Log In</button>
		    	<button type="button" class="toggle-btn" onclick="register()">Register</button>
		   </div>
		   <form id="login" class="input-group" action="login.php" method="post">
		    	<input type="text" name="username-field" placeholder="Username" required="">
		    	<input type="password" name="password-field" placeholder="Password" required="">
		    	<button type="submit" class="submit-btn">Log In</button>
		    </form>

		     <form id="register" class="input-group" action="register.php" method="post">
		    	<input type="text" name="username-field" placeholder="Username" required="">
		    	<input type="text" name="email-field" placeholder="Email" required="">
		    	<input type="password" name="password-field" placeholder="Password" required="">
		    	<button type="submit" class="submit-btn">Register</button>
		    </form>
		</div>

		<script >
			var x = document.getElementById("login");
			var y = document.getElementById("register");
			var z = document.getElementById("btn");

			function register(){
				x.style.left = "-400px";
				y.style.left = "50px";
				z.style.left = "110px";
			}

			function login(){
				x.style.left = "50px";
				y.style.left = "450px";
				z.style.left = "0px";
			}
		
		</script>
		{% endif %}
	{% endblock %}
	
