

body {

	font-family: 'Lato', sans-serif;
	font-size:18px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	/*background-color:#393637;  Color Background principal*/
	
	/*border: double 2px #943126;*/
}


/***********************************************************
SELECCIÓN DE DIMENSIONES DE CADA APARTADO
************************************************************/

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(60, minmax(50px, auto));
}


.header {
  z-index: 0;
  display: grid;
  grid-column: 1 / 9;
  grid-row: 1 / 21;
  border: double 2px #000000;
  /*grid-template-columns: subgrid;
  grid-template-rows: repeat(3, 3%);*/
}


.menuTop {
	grid-column: 1 / 9;
  	grid-row: 1 / 2;	
  	border: double 2px #943126;

}


.textBackground {
	z-index:5;
	grid-column: 1 / 5;
	grid-row: 9 / 13;
	border: double 2px #943126;

}

.textBox {
	z-index:4;
	grid-column: 1 / 5;
	grid-row: 9 / 13;
	/*border: double 2px #000000;*/

}


.asideBar{
  grid-column:1 / 3;
  grid-row: 21 / 60;
  border: double 2px #943126;
}


.events {
  grid-column: 3/ 9;
  grid-row: 21 / 60;
  border: double 2px #943126;
}


.footer {
  grid-column: 1 / 9;
  grid-row: 60 / 61;
  border: double 2px #943126;
}


/***********************************************************
Diseño imagen principal
************************************************************/

.header {
	background-image: url(imgs/Main.jpg);
	position: relative;
    min-height: 48em;
    background-size: cover;
    background-position: 60% 74%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    opacity: 1;

}

.header h2 {
	font-size: 70px;
    text-align: center;
}

.header p {
	font-size: 50px;
	text-align: center;
}

.textBackground {
	
	background-color: #262329;
	opacity: 0.7;
	transform: scale(0);
	transition: 0.3s;
}


.textBox {
	font-size: 120%;
	color:white;


}

#p1, #p2, #p3, #p4, #p5{
	text-align: center;
	transform: scale(1);
	transition: 0.5s;
}


.header:hover .textBackground {
	transform: scale(1);
    transition: 0.3s;
    
}

.header:hover .textBox #p1 {
	transform: scale(1);
	transition: 0.5s;

}

.header:hover #p2 {
	transform: scale(1);
	transition: 0.8s;
	
}


.header:hover #p3 {
	transform: scale(1);
	transition: 1s;
	
}

.header:hover #p4 {
	transform: scale(1);
	transition: 1.3s;
}




/***********************************************************
Diseño imagen menu y header
************************************************************/


.menuTop {
	float: left;
	z-index: 1;
	/*background-color: #1b1b20;*/
	color:#f1f1f2;

}

.menuTop h1 {
	margin:0;
	opacity: 1;
}


.menuTop nav {
	float:right;
	
}


.menuTop a {
	color:#ABB1B6;      /*Color fuente submenu*/
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
}


.menuTop  li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;

}




.menuTop a:hover {
	color:#ffffff;
	font-weight: bold;
}



/***********************************************************
Diseño barra lateral auxiliar
************************************************************/

.asideBar {
	text-align: center;
	background-color: #1b1b20;
}

.asideBar h2 {
	margin:0;
	font-size: 200%;
	color:#727a84;
}

.mainTitle {
	color: #727a84;
	font-size: 90%;

}



.opinion {
	color:#f1f1f2;
	font-size: 80%;
}



/***********************************************************
Diseño Cuadro de Eventos
************************************************************/


.events {
	clear:both;
	background-color:#262329;
	margin:0;
}


.events .box{
	float:left;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 33.33%;
	transition: 0.5s;	
}


.events .box img{
  box-sizing: border-box;
  border-radius: 5%;
  height: 220px;
  width: 95%;
  padding: 2%;
  background-color: #C6CFD0;
}


.hiddenBox {
	color:white;
	width: 95%;
	z-index: 1;
	text-align: center;
	margin-top: -230px;
	opacity: 0;
	transform: scale(0.2);
	transition-all: 0.3s;

}


.hiddenBox .dateEv {
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	opacity: 0;
	transform: scale(0.2);
	transition-all: 0.3s;
	
}


.box:hover {
	opacity: 0.5;
	transition: 0.3s;

}



.box:hover  .hiddenBox{
	opacity: 1;
	transition: 0.3s;
	transform: scale(1);
}


.box:hover .dateEv {
	opacity: 1;
	transition: 0.7s;
	transform: scale(1);
}



/***********************************************************
Diseño Pie de página
************************************************************/


.footer {
	clear: both;
	padding: 20px;
	margin:0;
	color:#ffffff;
	background-color: #393637;
	text-align: center;
}







/*
.five {
  grid-column: 2;
  grid-row: 4;
  border: double 2px #943126;
}
.six {
  grid-column: 3;
  grid-row: 4;
  border: double 2px #943126;
}*/