


body {
	font-family: 'Lato', sans-serif;

	font-size:18px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color:#393637;   /*Color Background principal*/
	overflow-x: hidden;
	border: double 2px #943126;
}



.container {
	object-fit: cover;
	width: 100%;
	border: double 2px #A569BD;
	

}


#headerImage {
	background-image: url(imgs/Main.jpg);
	position: relative;
    min-height: 48em;
    background-size: cover;
    background-position: 60% 74%;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

#headerImage h2 {
	font-size: 70px;
    text-align: center;
}

#headerImage p {
	font-size: 50px;
	text-align: center;
}


/*Header*/ 
header {
	color: #ABB1B6;		   /*Color fuente logo*/
	min-height: 70px;
	
}

#supNav a {
	color:#ABB1B6;      /*Color fuente submenu*/
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
}

#supNav ul {
	margin:0;
	padding:0;
}

#supNav li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;

}


header #supNav {
	border: double 2px #000000;
	position: absolute;
	background-color: #393637;
	opacity: 0.4;
	width: 100%;
	float: left;
	margin-top:-54rem;
}


#supNav nav {
	float:right;
	margin-top: 5px;
}

header a:hover {
	color:#ffffff;
	font-weight: bold;
}



/* Barra auxiliar

aside {
	width: 30%;
	height: 100%;
	float: left;
	margin:auto;
	text-align: center;
	
}
*/


#events {
	clear:both;
	background-color: #F7F6F6;
	width: 100%;
	margin:5px;
	border: double 2px #000000;

}


#events .box{
	float:left;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-bottom: 0;
	width: 33.33%;
	transition: 0.5s;
	
}


#events .box img{
  box-sizing: border-box;
  height: 250px;
  width: 95%;
  padding: 10px;
  object-fit: cover; 
  background-color: #C6CFD0;
  display: block;
  overflow: hidden;
  

}

.hiddenBox {
	color: white;
	position: relative;

	top:0;
	width: 50%;
	padding:5%;
	z-index: 10;
	text-align: center;
	margin-top: -250px;
	margin-left: 50px;
	opacity: 0;
	transform: scale(0.2);
	transition-all: 0.3s;

}

.hiddenBox .dateEv {
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	opacity: 0;
	transform: scale(0.2);
	transition-all: 0.3s;
	
}



.box:hover  .hiddenBox{
	opacity: 1;
	transition: 0.3s;
	transform: scale(1);
}

.box:hover .dateEv {
	opacity: 1;
	transition: 0.7s;
	transform: scale(1);
}

.box:hover {
	opacity: 0.5;
	transition: 0.3s;

}


#pie {
	clear: both;
	padding: 20px;
	margin-top: 20px;
	color:#ffffff;
	background-color: #393637;
	text-align: center;
}




/*queries*/
@media(max-width: 768px) {
	header #logo, header nav, header nav li, #events .box {
		float: none;
		text-align: center;
		width: 100%;
	}

	header {
		padding-bottom: 20px;
	}

	#mainEvent h1 {
		margin-top:40px;
	}

	
	#events .box {
		padding-left: 25%;
		width: 80%;
	}
}
